@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.container {
  max-width: 1330px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  margin: 0 auto;
}

.head {
  padding: 18px 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.head__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head__logo {
  margin-right: 50px;
}

@media (max-width: 992px) {
  .head__menu {
    display: none;
  }
}

.head__menu-button {
  display: none;
}

@media (max-width: 992px) {
  .head__menu-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.logo {
  display: block;
  max-width: 356px;
  width: 100%;
}

.logo__image {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.menu__link {
  display: inline-block;
  font-size: 15px;
  text-decoration: none;
  color: #ffffff;
  margin-right: 30px;
}

.menu__link:last-child {
  margin-right: 0;
}

.menu__link:hover {
  color: #ccc;
}

.menu__link--active {
  color: yellow;
}

.menu-button {
  cursor: pointer;
  border: none;
  background: transparent;
  width: 40px;
  height: 40px;
}

.menu-button__icon {
  margin: auto;
  width: 90%;
  height: 90%;
  -o-object-fit: contain;
     object-fit: contain;
}

.banner {
  background-size: cover;
  background-position: center;
}

.banner__content {
  padding: 71px 0 34px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner__title {
  max-width: 512px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 90px;
  line-height: 100%;
  text-align: center;
  color: #FFFFFF;
  margin: 0 0 40px;
}

@media (max-width: 576px) {
  .banner__title {
    font-size: 48px;
  }
}

.banner__subtitle {
  max-width: 687px;
  font-size: 26px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  margin: 0 0 45px;
}

.banner__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.banner__label {
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.banner__hint {
  font-size: 18px;
  line-height: 100%;
  text-align: right;
  color: #FFFFFF;
}

.banner__info {
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.banner__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.banner__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 15px;
  width: 33.33%;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.banner__col:last-child {
  border-right: none;
}

@media (max-width: 768px) {
  .banner__col {
    width: 100%;
    border-right: none;
  }
}

.advatages-box {
  max-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advatages-box__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 40px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 30px;
}

.advatages-box__text {
  font-size: 18px;
  line-height: 140%;
  color: #FFFFFF;
  opacity: 0.8;
}

.button {
  cursor: pointer;
  padding: 22.7px 50px;
  text-transform: uppercase;
  border: none;
  font-size: 15px;
  line-height: 140%;
  text-align: center;
  font-weight: bold;
  color: #333333;
  background: #fff;
}

.buttons {
  text-align: center;
}

.buttons__title {
  font-weight: bold;
  font-size: 18px;
  color: #F2C94C;
  letter-spacing: 10px;
  margin-top: 80px;
}

.buttons__subtitle {
  font-weight: bold;
  font-size: 42px;
  color: #333333;
  margin-top: 17px;
  margin-bottom: 40px;
}

.buttons__tabs {
  margin-right: 20px;
}

.tabs {
  background: white;
  border: 2px solid #E9E9E9;
  font-size: 15px;
  font-weight: bold;
  color: #333333;
  padding: 20px 32px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.tabs--active {
  background: linear-gradient(101.67deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.1) 100%), #F2C94C;
  border: none;
}

.gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery__grid {
  display: -ms-grid;
  display: grid;
  margin-top: 50px;
  margin-left: 10px;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: (5vw)[8];
      grid-template-rows: repeat(8, 5vw);
  grid-gap: 20px 20px;
}

.gallery__item {
  margin: 0;
}

.gallery__item--1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 4;
}

.gallery__item--2 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 4;
}

.gallery__item--3 {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 7;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 7;
}

.gallery__item--4 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 10;
}

.gallery__item--5 {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 7;
  -ms-grid-row: 7;
      grid-row-start: 7;
  grid-row-end: 10;
}

.packages {
  background: #202020;
}

.packages__title {
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-top: 80px;
  padding: 80px 0 0 0;
  color: #F2C94C;
}

.packages__subtitle {
  font-size: 42px;
  line-height: 100%;
  text-align: center;
  color: #FFFFFF;
  margin-top: 17px;
  font-weight: bold;
}

.packages__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.packages__col {
  border: 1px solid #494848;
  margin-bottom: 80px;
}

.packages--active {
  border: 1px solid #FFFFFF;
}

.box-easy__title {
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.2;
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .box-easy__title {
    font-size: 10px;
  }
}

.box-easy__subtitle {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: bold;
  font-size: 34px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.5px;
  color: #F2C94C;
}

@media (max-width: 768px) {
  .box-easy__subtitle {
    font-size: 22px;
  }
}

.box-easy__price {
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  color: #FFFFFF;
  margin-top: 70px;
}

@media (max-width: 768px) {
  .box-easy__price {
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 40px;
  }
}

.box-easy__button {
  width: 230px;
  height: 60px;
  background: linear-gradient(101.67deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.1) 100%), #F2C94C;
  border: none;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 40px;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.box-easy__lists {
  width: 340px;
  color: #FFFFFF;
}

@media (max-width: 768px) {
  .box-easy__lists {
    width: 200px;
    padding: 0 0 0 10px;
  }
}

.box-easy__list {
  list-style: none;
  padding-left: 20px;
  position: relative;
  margin: 10px;
}

.box-easy__list:before {
  content: '✔';
  position: absolute;
  top: 0;
  left: 0;
  color: #F2C94C;
}

.box-easy__list--noactive {
  color: #FFFFFF;
  opacity: 0.2;
}

.team {
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__image {
  margin-bottom: -5px;
}

.team__right-side {
  background-color: #151515a8;
  width: 768px;
  margin-left: -100px;
  padding: 80px 70px;
}

@media (max-width: 768px) {
  .team__right-side {
    margin: 0px;
  }
}

@media (max-width: 768px) {
  .team__left-side {
    display: none;
  }
}

.team__title {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: #F2C94C;
  padding: 80px 0 27px 0;
}

.team__subtitle {
  width: 500px;
  font-size: 34px;
  line-height: 120%;
  color: #FFFFFF;
}

.team__text {
  width: 500px;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.3px;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 40px;
}

.feedback__title {
  font-size: 18px;
  text-align: center;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: #F2C94C;
  margin-top: 80px;
}

.feedback__subtitle {
  max-width: 651px;
  margin: 27px auto 50px;
  font-size: 34px;
  text-align: center;
  color: #333333;
  font-weight: bold;
}

.feedback-slider__image {
  width: 300px;
  height: 320px;
}

.feedback-slider__slider {
  width: 860px;
  height: 260px;
  border: 1px solid #E9E9E9;
  margin-bottom: 100px;
}

.feedback-slider__left {
  background: red;
}

.feedback-slider__text {
  width: 430px;
}

.review-card {
  border: 2px solid #E9E9E9;
  padding: 40px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.review-card__title {
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.3px;
  color: #333333;
}

.review-card__text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.3px;
  color: #707070;
}

.review-card__link {
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.3px;
  color: #505050;
  border-radius: 8px;
}

.footer {
  background: #202020;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__title {
  font-size: 18px;
  text-align: center;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: #F2C94C;
  padding: 80px 0 0 0;
}

.footer__subtitle {
  width: 1024px;
  font-size: 34px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 17px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .footer__subtitle {
    width: 700px;
    font-size: 28px;
  }
}

.footer__privacy-policy {
  width: 860px;
  font-size: 13px;
  text-align: center;
  letter-spacing: -0.3px;
  color: #707070;
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  .footer__privacy-policy {
    width: 650px;
  }
}

.footer__copyright {
  padding: 21px 0 25px 0;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: #707070;
  border-top: 1px solid #ffffff34;
}

.icons__social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
}

.icons__social-icon {
  margin-right: 20px;
}

.icons__icon {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.icons__name {
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.3px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.data__frame {
  width: 860px;
  margin-top: 76px;
  margin-bottom: 20px;
  border-color: #ffffff2d;
}

@media (max-width: 768px) {
  .data__frame {
    width: 650px;
  }
}

.data__left {
  padding: 50px 0 50px 50px;
}

@media (max-width: 768px) {
  .data__left {
    padding: 50px 0 20px 20px;
  }
}

.data__right {
  padding: 68px 50px 50px 0;
}

@media (max-width: 768px) {
  .data__right {
    padding: 68px 0 20px 20px;
  }
}

.data__title {
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: -0.5px;
  text-align: center;
  margin-top: 60px;
  padding: 0 30px 0 30px;
}

.data__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.data__name {
  font-size: 12px;
  color: #FFFFFF;
  opacity: 0.5;
}

.data__full-name {
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  width: 370px;
  padding: 0 0 7px 0;
  margin-right: 20px;
}

.data__comment {
  font-size: 18px;
  line-height: 12px;
  color: #FFFFFF;
  opacity: 0.5;
  border-bottom: 1px solid #ffffffd3;
  padding: 0 0 20px 0;
  width: 370px;
  margin-top: 40px;
}

.data__phone {
  font-size: 18px;
  line-height: 12px;
  color: #FFFFFF;
  opacity: 0.5;
  border-bottom: 1px solid #ffffffd3;
  padding: 0 0 20px 0;
  margin-bottom: 18px;
}

.data__button {
  width: 370px;
  height: 55px;
  background: linear-gradient(101.67deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.1) 100%), #F2C94C;
  border: none;
  font-size: 15px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
}

@media (max-width: 768px) {
  .data__button {
    width: 250px;
  }
}

@media (max-width: 768px) {
  .data {
    width: 720px;
  }
}
/*# sourceMappingURL=style.css.map */