@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap" rel="stylesheet">');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.container {
    max-width: 1330px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    margin: 0 auto;
}

// start head
.head {
    padding: 18px 0;
    background-color: rgba(0, 0, 0, 0.5);
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    // mix
    &__logo {
        margin-right: 50px;
    }
    &__menu {
        @media(max-width: 992px) {
            display: none;
        }
    }
    &__menu-button {
        display: none;
        @media(max-width: 992px) {
            display: flex;
        }
    }
}

.logo {
    display: block;
    max-width: 356px;
    width: 100%;
    &__image {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
}

.menu {
    &__link {
        display: inline-block;
        font-size: 15px;
        text-decoration: none;
        color: #ffffff;
        margin-right: 30px;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            color: #ccc;
        }
        &--active {
            color: yellow;
        }
    }
}

.menu-button {
    cursor: pointer;
    border: none;
    background: transparent;
    width: 40px;
    height: 40px;
    &__icon {
        margin: auto;
        width: 90%;
        height: 90%;
        object-fit: contain;
    }
}
// end head


// start banner
.banner {
    background-size: cover;
    background-position: center;
    &__content {
        padding: 71px 0 34px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        max-width: 512px;
        box-sizing: border-box;
        font-size: 90px;
        line-height: 100%;
        text-align: center;
        color: #FFFFFF;
        margin: 0 0 40px;
        @media(max-width: 576px) {
            font-size: 48px;
        }
    }
    &__subtitle {
        max-width: 687px;
        font-size: 26px;
        line-height: 140%;
        text-align: center;
        color: #FFFFFF;
        margin: 0 0 45px;
    }
    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    &__label {
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__hint {
        font-size: 18px;
        line-height: 100%;
        text-align: right;
        color: #FFFFFF;
    }
    &__info {
        padding: 20px 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
    &__grid {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
    }
    &__col {
        display: flex;
        justify-content: center;
        padding: 20px 15px;
        width: 33.33%;
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        &:last-child {
            border-right: none;
        }
        @media(max-width: 768px) {
            width: 100%;
            border-right: none;
        }
    }
}

.advatages-box {
    max-width: 320px;
    display: flex;
    align-items: center;
    &__icon {
        flex-shrink: 0;
        width: 40px;
        height: 40px;
        object-fit: contain;
        margin-right: 30px;
    }
    &__text {
        font-size: 18px;
        line-height: 140%;
        color: #FFFFFF;
        opacity: 0.8;
    }
}
// end banner

.button {
    cursor: pointer;
    padding: 22.7px 50px;
    text-transform: uppercase;
    border: none;
    font-size: 15px;
    line-height: 140%;
    text-align: center;
    font-weight: bold;
    // letter-spacing: 1px;
    color: #333333;
    background: #fff;
}

.buttons {
    text-align: center;
    &__title {
        font-weight: bold;
        font-size: 18px;
        color: #F2C94C;
        letter-spacing: 10px;
        margin-top: 80px;
    }
    &__subtitle {
        font-weight: bold;
        font-size: 42px;
        color: #333333;
        margin-top: 17px;
        margin-bottom: 40px;
    }
    &__tabs {
        margin-right: 20px;
    }
}

.tabs {
    background: white;
    border: 2px solid #E9E9E9;
    font-size: 15px;
    font-weight: bold;
    color: #333333;
    padding: 20px 32px;
    letter-spacing: 1px;
    text-transform: uppercase;
    &--active {
        background: linear-gradient(101.67deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.1) 100%), #F2C94C;
        border: none;
    }
}

.gallery {
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__grid {
        display: grid;
        margin-top: 50px;
        margin-left: 10px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(8, 5vw);
        grid-gap: 20px 20px;
    }

    &__item {
        margin: 0;
    }
    &__item--1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 4;
    }
    &__item--2 {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 4;
    }
    &__item--3 {
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 7;
    }
    &__item--4 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 10;
    }
    &__item--5 {
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 7;
        grid-row-end: 10;
    }

}

.packages {
    background: #202020;
    &__title {
        font-size: 18px;
        line-height: 100%;
        text-align: center;
        letter-spacing: 10px;
        text-transform: uppercase;
        margin-top: 80px;
        padding: 80px 0 0 0;
        color: #F2C94C;
        
    }
    &__subtitle {
        font-size: 42px;
        line-height: 100%;
        text-align: center;
        color: #FFFFFF;
        margin-top: 17px;
        font-weight: bold;
    }
    &__grid {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        
    }
    &__col {
        border: 1px solid #494848;
        margin-bottom: 80px;
    }
    &--active {
        border: 1px solid #FFFFFF;
        
    }
}

.box-easy {
    &__title {
        font-size: 15px;
        line-height: 140%;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #FFFFFF;
        opacity: 0.2;
        text-align: center;
        margin-top: 20px;
        @media (max-width: 768px) {
            font-size: 10px;
        }
    }
    &__subtitle {
        font-family: 'Playfair Display', serif;
        font-style: italic;
        font-weight: bold;
        font-size: 34px;
        line-height: 100%;
        text-align: center;
        letter-spacing: -0.5px;
        color: #F2C94C;
        @media (max-width: 768px) {
            font-size: 22px;
        }
    }
    &__price {
        font-size: 36px;
        line-height: 100%;
        text-align: center;
        color: #FFFFFF;
        margin-top: 70px;
        @media (max-width: 768px) {
            font-size: 25px;
            margin-bottom: 20px;
            margin-top: 40px;
        }
    }
    &__button {      
        width: 230px;
        height: 60px;
        background: linear-gradient(101.67deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.1) 100%), #F2C94C;
        border: none;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #333333;
        margin-bottom: 40px;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
    }
    &__lists {
        width: 340px;
        color: #FFFFFF;
        @media (max-width: 768px) {
            width: 200px;
            padding: 0 0 0 10px;
        }        
    }
    &__list {
        list-style: none;
        padding-left: 20px;
        position: relative;
        margin: 10px;
    }
    &__list:before {
        content: '✔';
        position: absolute; 
        top: 0; 
        left: 0;
        color: #F2C94C;
    }
    &__list--noactive {
        color: #FFFFFF;
    opacity: 0.2;
    }
    
}

.team {
    background-size: cover;
    background-position: center;
    display: flex;
    &__image {
        margin-bottom: -5px;
        
    }
    &__right-side {
        background-color: #151515a8;
        width: 768px;
        margin-left: -100px;
        padding: 80px 70px;
        @media(max-width: 768px) {
            
            margin: 0px;
        }
        
    }
    &__left-side {
        @media(max-width: 768px) {
            display: none;
        }
        
    }
    &__title {
        font-weight: bold;
        font-size: 18px;
        letter-spacing: 10px;
        text-transform: uppercase;
        color: #F2C94C;
        padding: 80px 0 27px 0;
    }
    &__subtitle {
        width: 500px;
        font-size: 34px;
        line-height: 120%;
        color: #FFFFFF;
    }
    &__text {
        width: 500px;
        font-size: 18px;
        line-height: 140%;
        letter-spacing: -0.3px;
        color: rgba(255, 255, 255, 0.8);
        margin-top: 40px;
    }
    
}

.feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
        font-size: 18px;
        text-align: center;
        letter-spacing: 10px;
        text-transform: uppercase;
        color: #F2C94C;
        margin-top: 80px;
    }
    &__subtitle {
        width: 651px;
        font-size: 34px;
        text-align: center;
        color: #333333;
        font-weight: bold;
        margin-top: 27px;
        margin-bottom: 50px;
        
    }
    &__image {
        width: 300px;
        height: 320px;
    }
    &__slider {
        width: 860px;
        height: 260px;
        border: 1px solid #E9E9E9;
        margin-bottom: 100px;
    }
    &__text {
        width: 430px;
    }    
    &__left {
        
        background: red;
    }
}

.footer {
    background: #202020;
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        font-size: 18px;
        text-align: center;
        letter-spacing: 10px;
        text-transform: uppercase;
        color: #F2C94C;
        padding: 80px 0 0 0;
    }
    &__subtitle {
        width: 1024px;
        font-size: 34px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 17px;
        font-weight: bold;
        @media(max-width: 768px) {
            width: 700px;
            font-size: 28px;
        }
    }
    &__privacy-policy {
        width: 860px;
        font-size: 13px;
        text-align: center;
        letter-spacing: -0.3px;
        color: #707070;
        margin-bottom: 60px;
        @media(max-width: 768px) {
            width: 650px;
        }
    }
    &__copyright {
        padding: 21px 0 25px 0;
        font-size: 15px;
        line-height: 24px;
        text-align: center;
        color: #707070;
        border-top: 1px solid #ffffff34;
        
    }
}

.icons {
    &__social-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 60px;
    }
    &__social-icon {
        margin-right: 20px;
    }
    &__icon {
        width: 80px;
        height: 80px;
        
        margin-bottom: 10px;
    }
    &__name {
        font-size: 14px;
        text-align: center;
        letter-spacing: -0.3px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}

.data {
    &__frame {
        width: 860px;
        margin-top: 76px;
        margin-bottom: 20px;
        border-color: #ffffff2d;
        @media(max-width: 768px) {
            width: 650px;
        }
    }
    &__left {
        padding: 50px 0 50px 50px;
        @media(max-width: 768px) {
            padding: 50px 0 20px 20px;
        }
    }
    &__right {
        padding: 68px 50px 50px 0;
        @media(max-width: 768px) {
            padding: 68px 0 20px 20px;
        }
    }
    &__title {
        font-size: 24px;
        color: #FFFFFF;
        letter-spacing: -0.5px;
        text-align: center;
        margin-top: 60px;
        padding: 0 30px 0 30px;
    }
    &__form {
        display: flex;
        
    }
    &__name {
        font-size: 12px;
        color: #FFFFFF;
        opacity: 0.5;
    }
    &__full-name {
        font-size: 18px;
        line-height: 30px;
        color: #FFFFFF;
        border-bottom: 1px solid #FFFFFF;
        width: 370px;
        padding: 0 0 7px 0;
        margin-right: 20px;
    }
    &__comment {
        font-size: 18px;
        line-height: 12px;
        color: #FFFFFF;
        opacity: 0.5;
        border-bottom: 1px solid #ffffffd3;
        padding: 0 0 20px 0;
        width: 370px;
        margin-top: 40px;
    }
    &__phone {
        font-size: 18px;
        line-height: 12px;
        color: #FFFFFF;
        opacity: 0.5;
        border-bottom: 1px solid #ffffffd3;
        padding: 0 0 20px 0;
        margin-bottom: 18px;
    }
    &__button {
        width: 370px;
        height: 55px;
        background: linear-gradient(101.67deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.1) 100%), #F2C94C;
        border: none;
        font-size: 15px;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: bold;
        @media(max-width: 768px) {
            width: 250px;
        }
    }
    @media(max-width: 768px) {
            width: 720px;
        }
}

